/* Font: DM SANS */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* Font:Space Grotesk */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Grotesk:wght@300..700&display=swap");

body {
  box-sizing: border-box;
  margin: 30px;
  padding: 0;
  font-family: "DM Sans";
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.link {
  text-decoration: none;
}

/* label {
  margin-top: 20px;
  margin-bottom: 11px; */

.create-course {
  position: fixed; /* füllt so den ganzen HB blau */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  z-index: -1; /* Stellt sicher, dass die Klasse hinter dem Body-Inhalt liegt */
}

.logobox {
  display: flex;
  justify-content: center; /* Horizontal zentrieren */
  align-items: center; /* Vertikal zentrieren */
  background-color: #dbff00;
  border-radius: 30px;
  width: 30%; /* 80% der Bildschirmbreite */
  height: 40px; /* Automatische Höhe basierend auf dem Inhalt */
  width: 140px; /* Maximalbreite auf 600px begrenzen */
}

.logoschrift {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.page-description {
  font-family: "DM Sans";
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  margin-bottom: 0;
}

.finish-page-description {
  font-family: "DM Sans";
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  margin-bottom: 85px;
  /* text-align: center; */
}

.course-container {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 20px;
  padding-bottom: 90px; /* für den Abstand des add course bnts */
  padding-top: 0;
  margin-top: 5px;
}
.quiz-container {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  margin-top: 5px;
}

.field {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  width: 100%;
  height: 200px;
  list-style: none;
  margin-bottom: 10px;
  margin: 10px;
  padding: 20px;
  justify-self: center;
  align-self: center;
  justify-content: space-between;
  background-color: white;
}
.field-card {
  border: 1px solid black;
  /* display: flex; */
  /* flex-direction: column; */
  border-radius: 30px;
  width: 100%;
  min-height: 200px;
  list-style: none;
  margin-bottom: 10px;
  margin: 10px;
  padding: 20px;
  justify-self: center;
  align-self: center;
  background-color: white;
  overflow-wrap: break-word; /* setzt text in eine neue Zeile */
}

.field-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 10px;
  border: violet solid 1px;
  height: 150px;
  justify-content: space-between;
}

.card-options {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin: 0 2px 0 2px;
}

.card-options-course {
  font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  /* margin-top: 20px; */
  margin-bottom: 20px;
}
.card-options-card {
  font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

.quiz-card-options-card {
  font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  margin-top: 50px;
}

.finish-subhead {
  font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  margin-top: 50px;
  text-align: center;
}

.question-answer-card {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn-edit-and-delete-options {
  height: 10px;
}

.field-name-description {
  /* border: 1px solid purple; */
  margin-top: 30px;
}

.course-name {
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 1px;
}

.course-description {
  margin-top: 10px;
}

.course-length-info {
  border: 1px solid black;
  border-radius: 30px;
  height: 25px;
  width: 80px;
  display: flex;
  justify-content: center;
  background-color: black;
}

.course-lengt-info-font {
  font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  margin-top: 3px;
  color: white;
}

.options-field-bottom {
  /* border: solid yellow 1px; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.formfield-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 30px 0 30px;
}

.field-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  width: 100%;
  height: 400px;
  margin: 0px;
  padding: 20px;
  justify-self: center;
  align-self: center;
  justify-content: space-between;
  background-color: white;
}

.form-description {
  font-family: "DM Sans";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 30px;
}

.form-description-space {
  font-family: "DM Sans";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

input {
  height: 40px;
  margin-bottom: 0px;
  font-size: 20px;
}

.input-create-card {
  font-family: "DM Sans";
  height: 70px;
  /* margin-bottom: 0px; */
  font-size: 15px;
}

.form-characters_left {
  font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  text-align: end;
}

.navigation-form {
  display: flex;
  justify-content: center; /* Horizontal zentrieren */
  align-items: center; /* Vertikal zentrieren */
  background-color: black;
  border-radius: 40px;
  height: 40px;
  bottom: 30px;
  left: 30px; /* 30px Abstand von der linken Seite des Bildschirms */
  right: 30px;
}
.navigation-form-space {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 40px;
  height: 40px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  margin-top: 10px;
}

ul {
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: center; /* Horizontal zentrieren */
  align-items: center; /* Vertikal zentrieren */
  background-color: black;
  border-radius: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  left: 30px; /* 30px Abstand von der linken Seite des Bildschirms */
  right: 30px;
}

.navigation-start-quiz {
  display: flex;
  justify-content: center; /* Horizontal zentrieren */
  align-items: center; /* Vertikal zentrieren */
  background-color: black;
  border-radius: 30px;
  height: 40px;
  position: fixed;
  bottom: 80px;
  left: 30px; /* 30px Abstand von der linken Seite des Bildschirms */
  right: 30px;
}

.navigation-text {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 100;
  font-size: 22px;
  text-decoration: none;
  color: white;
  display: flex;
  margin-top: 18px;
  margin-bottom: 20px;
}

.navigation-plus {
  position: absolute;
  right: 19px; /* verschiebt das plus */
}

.loading-bar-border {
  /* umrandet die loadingbar */
  border: 1px solid black;
  border-radius: 5px;
  height: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  top: 27px;
}

.loading-bar {
  border: 1px solid black;
  border-radius: 5px;
  height: 5px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-question-info {
  display: flex;
  justify-content: space-between;
}
.card-question-and-answer {
  width: 100%;
  justify-self: center;
  align-self: center;
  border: 1px solid black;
  border-radius: 30px;
  padding: 0px 30px 5px 30px;
  margin-top: 20px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: auto; /* Zentrierung des Elements */
  padding: 20px; /* Innenabstand des Elements */
  box-sizing: border-box;
}

.quiz-answer-and-btn {
  /* jetzt sind nur die btns drin */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
}

.answerButtons {
  /* div mir den btns */
  display: flex;
  justify-content: space-between;
}
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.link-arrow {
  position: relative;
  top: 4px; /* Pfeil etwas nach unten */
}

.card-question-quiz {
  margin-top: 20px;
}

.finish-number {
  font-size: 40px;
  text-align: center;
}
