/* Font: DM SANS */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* Font:Space Grotesk */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Grotesk:wght@300..700&display=swap");

body {
  box-sizing: border-box;
  margin: 30px;
  padding: 0;
  font-family: "DM Sans";
}

.create-course {
  background-color: blue;
}

.logobox {
  display: flex;
  justify-content: center; /* Horizontal zentrieren */
  align-items: center; /* Vertikal zentrieren */
  background-color: #dbff00;
  border-radius: 30px;
  width: 45%;
  height: 40px;
}

.logoschrift {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 100;
  font-size: 22px;
}

.page-description {
  font-family: "DM Sans";
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 16px;
}

.course-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formfield-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 30px 0 30px;
}

.field {
  border: 1px solid black;
  border-radius: 30px;
  width: 80%;
  height: 150px;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  padding: 10%;
  justify-self: center;
  align-self: center;
  background-color: white;
}

ul {
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: center; /* Horizontal zentrieren */
  align-items: center; /* Vertikal zentrieren */
  background-color: black;
  border-radius: 30px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  left: 30px; /* 30px Abstand von der linken Seite des Bildschirms */
  right: 30px;
}

.navigation-start-quiz {
  display: flex;
  justify-content: center; /* Horizontal zentrieren */
  align-items: center; /* Vertikal zentrieren */
  background-color: black;
  border-radius: 30px;
  height: 40px;
  position: fixed;
  bottom: 80px;
  left: 30px; /* 30px Abstand von der linken Seite des Bildschirms */
  right: 30px;
}

.navigation-text {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 100;
  font-size: 22px;
  text-decoration: none;
  color: white;
  display: flex;
  margin-top: 18px;
}
